@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

body {
    font-size: 16px;
    font-family: "Yomogi", cursive;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

h1,h2,h4 {   
    color: black;
}


.player-choice {
    color: cornflowerblue;
}

.computer-choice {
    color:coral;
}

a {
    color:cornflowerblue;
    text-decoration: none;
}

a:hover {
    color: coral;
}

div {
    width: 80vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* HEADING */

heading {
    text-align: center;
}


/* CHOICES SECTION */
#choices-wrapper {
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.choice {
    font-size: 2em;
    width: 250px;
    height: auto;
    flex-grow: 1;
    flex-shrink: 3;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 49px;
    background: #ffffff;
    box-shadow:  10px 10px 33px #c9c9c9,
             -10px -10px 33px #ffffff;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid silver;
    border-radius: 25px;
    font-family: "Yomogi";
}

#credit {
    font-size: 0.8em;
}
