@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

body {
    font-size: 16px;
    font-family: "Yomogi", monospace;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


.player-choice {
    color: cornflowerblue;
}

.computer-choice {
    color:coral;
}

a {
    color:cornflowerblue;
    text-decoration: none;
}

a:hover {
    color: coral;
}

div {
    width: 80vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 5px;
}

/* HEADING */

heading {
    text-align: center;
}


/* CHOICES SECTION */
#choices-wrapper {
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.choice {
    font-size: 2em;
    width: 200px;
    height: auto;
    flex-grow: 1;
    flex-shrink: 3;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 49px;
    background: #ffffff;
    box-shadow:  10px 10px 33px #c9c9c9,
             -10px -10px 33px #ffffff;
}

.choice:hover {
    border: none;
    box-shadow:  2px 2px 8px #c9c9c9,
             -2px -2px 8px #ffffff;
}

.choice:active {
    border: none;
    box-shadow:  none;
}

button {
    background-color: white;
    color: black
    border-radius: 25px;
    font-family: "Yomogi", monospace;
}

.wrapper {
    border: 1px solid black;
    padding: 15px;
    background-color: #efefef;
}

.score-wrapper-inner {
    display: flex;
    flex-flow: row wrap;
}

#round-choices {
    font-size: 1.3em;
}

#credit {
    font-size: 0.8em;
}
